.bilhete {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px 1px #00003f50;
  margin-bottom: auto;
  background-color: #ffffff;
  border-radius: 5px;
}

.container {
  font-size: small;
  overflow-y: auto; /* Adiciona a barra de rolagem quando necessário */
  padding: 0.25rem;
  max-height: 360px;
  /* border: 1px solid rgb(74, 73, 73); */
}

.bilhete h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-bilhete {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(47, 47, 47);
  padding: 1rem 0.5rem;
  border-radius: 5px;
}

.item-bilhete .remover {
  color: rgb(255, 0, 0);
  font-size: large;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

.bilhete button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.bilhete button:hover {
  background-color: darkgreen;
}

.bilhete-value {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
}
.bilhete-value input {
  width: 60px;
  padding: 0;
  margin: 0;
  height: 20px;
  border: 1px solid #353535;
  border-radius: 3px;
}
.bilhete-value p {
  font-size: small;
}

@media (max-width: 768px) {
  .bilhete {
    margin-top: 2rem;
    min-width: 90%;
  }

  .container {
    max-height: 600px;
  }
}
