.bilhete {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  max-width: 200px;
  box-sizing: border-box;
  /* border-radius: 0.5rem; */
  box-shadow: 3px 3px 8px 1px #00003f50;
  margin-bottom: auto;
}

.bilhete h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-bilhete {
  margin-bottom: 10px;
}

.item-bilhete input,
.input-valor {
  width: 95%;
  padding: 5px;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
}

.bilhete button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  /* border-radius: 0.4rem; */
}

.bilhete button:hover {
  background-color: darkgreen;
}

@media (max-width: 768px) {
  .bilhete {
    margin-top: 2rem;
    min-width: 90%;
  }
}
