.bilhete {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 210px;
  max-width: 210px;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px 1px #00003f50;
  margin-bottom: auto;
  background-color: #ffffff;

  /* border-radius: 0.5rem; */
}

.container {
  font-size: small;
  max-height: 200px; /* Altura fixa para o contêiner */
  overflow-y: auto; /* Adiciona a barra de rolagem quando necessário */
  padding: 0.25rem;
  /* border: 1px solid rgb(74, 73, 73); */
}

.bilhete h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-bilhete {
  margin-bottom: 10px;
}

.item-bilhete input,
.input-valor {
  width: 95%;
  padding: 5px;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
}

.bilhete button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  /* border-radius: 0.4rem; */
}

.bilhete button:hover {
  background-color: darkgreen;
}

.bilhete-input {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bilhete-input input {
  width: 60px;
  padding: 0;
  margin: 0;
  height: 20px;
}
.bilhete-input p {
  font-size: small;
}

@media (max-width: 768px) {
  .bilhete {
    margin-top: 2rem;
    min-width: 90%;
  }
}
