:root {
  /* --card-width: 250px;
  --card-heigh: 310px; */
  --card-width: 235px;
  --card-heigh: 250px;
}

section {
  width: var(--card-width);
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-container {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  position: relative;

  height: var(--card-heigh);
  /* border: 4px solid red; */
}

.triangle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
}
.triangle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65px;
}

.data {
  opacity: 90%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: 700;
  font-size: small;
}

.top-box,
.bottom-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.705);
  /* border: 2px solid black; */
  font-weight: 600;
}

.button {
  width: 100%;
  height: 40px;
  background-color: green;
}

.content img {
  width: 50px;
}

.center {
  position: absolute;
  font-weight: bold;
  font-size: xx-large;
  /* border: 1px solid purple; */
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 3px solid yellow; */
}

.add-button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: var(--card-width);
  font-weight: 700;
  font-size: small;
}

.add-button:hover {
  background-color: darkgreen;
}

@media (max-width: 768px) {
  /* :root {
    --card-width: 350px;
    --card-heigh: 325px;
  } */
}
