.page-container {
  display: flex;
  flex-direction: column;
  background-color: #dddfdd;
  padding-top: 7.25rem;
}

.page-container .eventos span {
  margin-left: 6rem;
  border-left: 5px solid green;
  background-color: rgb(247, 247, 247);
  padding: 0.5rem 1rem;
  font-weight: 700;
}
.page-container .eventos {
  margin: 2rem 0;
}

.content-wrap {
  flex: 1; /*empurrar fotter para baixo*/
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.main-content {
  display: flex;
  flex: 1;
  min-height: 80vh;
  margin-bottom: 200px;

  /* border: 2px solid blue; */
}

.confrontos {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  gap: 30px;
  padding-top: 0;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20px;
  /* background-color: #fff; */

  /* border: 2px solid red; */
}

@media (max-width: 768px) {
  .page-container {
    padding-top: 6rem;
  }
  .page-container .eventos span {
    margin-left: 0rem;
  }
  .page-container .eventos {
    margin-left: auto;
    margin-right: auto;
  }

  .content-wrap {
    padding: 0 0.5rem;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .bilhete {
    margin-left: auto;
    margin-right: auto;
  }
  .confrontos {
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border-right: none;
  }
}
