.home-container {
  display: flex;
  flex-direction: column;
  background-color: #dddfdd;
  padding-top: 7.25rem;
}

.home-container .eventos span {
  margin-left: 2rem;
  border-left: 5px solid green;
  background-color: rgb(247, 247, 247);
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0 0 5px 5px;
}
.home-container .eventos {
  margin-bottom: 1.5rem;
}

.content-wrap {
  flex: 1; /*empurrar fotter para baixo*/
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.main-content {
  display: flex;
  flex: 1;
  gap: 30px;
  margin-bottom: 100px;
  /* border: 2px solid blue; */
}

.confrontos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  box-shadow: 3px 3px 8px 1px #00003f50;
  background-color: #ffffff;
  height: 520px;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 5px;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  .home-container {
    padding-top: 6rem;
  }
  .home-container .eventos span {
    margin-left: 0rem;
  }
  .home-container .eventos {
    margin-left: auto;
    margin-right: auto;
    margin: 1.5rem auto;
  }

  .content-wrap {
    padding: 0 0.5rem;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .bilhete {
    margin: 0 auto;
  }
  .confrontos {
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border-right: none;
    height: auto;
    background-color: transparent;
    box-shadow: none;
  }
}
