.home {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  background-color: #c3c3c3;
  /* background-color: #999d9f; */
}

.title {
  background-color: white;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dddfdd;
}

.container-main {
  flex: 1; /*empurrar fotter para baixo*/
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  gap: 1rem;
}

.container-page {
  /* border: 2px solid red; */
  box-shadow: 3px 3px 8px 1px #00003f50;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  height: 75vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  /* margin-bottom: 100px; */
  /* border: 1px solid red; */
}

.footer-mobile {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .container-main {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .bilhete {
    margin: 0 auto;
  }
  .cards {
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border-right: none;
    height: auto;
    background-color: transparent;
    box-shadow: none;
  }
  .footer-mobile {
    display: inline;
    margin-top: 4rem;
  }
}

@media (max-width: 500px) {
  .footer-mobile {
    margin-top: 4rem;
  }
}
