.cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2rem;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
}
.login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-signup button {
  /* background-color: #f7bc05; */
  background-color: rgb(4, 194, 4);
  color: #2c2a2a;
  font-weight: 500;
  /* border-radius: 0.3rem; */
  padding: 10px;
  transition: 0.2s;
  font-weight: 600;
}
button {
  border: none;
}

.login-signup button:hover {
  opacity: 70%;
}

@media (max-width: 768px) {
  .cabecalho {
    display: flex;
    align-items: center;
  }
  .cabecalho img {
    width: 70px;
  }

  .login-signup {
    margin-top: 10px;
  }
}
