.cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.5rem;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
}

.menu-lateral-direito {
  position: relative;
}

.menu-lateral-direito .button-open,
.button-close {
  background-color: transparent;
  color: rgb(4, 194, 4);
  font-weight: 700;
  font-size: larger;
  transition: 0.2s;
}

.menu-lateral {
  position: fixed;
  top: 0;
  right: -350px; /*fora da tela */
  height: 100vh;
  width: 350px;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1001;
  transition: right 0.3s ease-out;
}

.menu-lateral.aberto {
  right: 0; /* Quando o menu está aberto */
}

.menu-lateral ul {
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: right; /* Alinha os itens do menu à direita */
}
.menu-lateral a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.menu-lateral a:hover {
  opacity: 60%;
}

.menu-lateral li {
  margin: 0;
  padding: 15px 0;
}

.menu-lateral .button-close {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.menu-lateral .button-close:hover {
  opacity: 0.7;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media (max-width: 768px) {
  .menu-lateral {
    width: 250px;
  }
}
