.footer-container {
  background-color: #1f1f1f;
  color: #fff;
  padding: 50px 0;
}
.footer-container .img {
  text-align: center;
  margin-bottom: 2rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  max-width: 300px;
  margin-bottom: 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-container {
  background-color: #1f1f1f;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  max-width: 300px;
  margin-bottom: 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a,
.footer-column p {
  color: #fff;
  text-decoration: none;
  opacity: 70%;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

/* Media queries para tornar o Footer responsivo */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    max-width: 100%;
    text-align: center;
  }
}
