/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
}
.cabecalho-sign {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2rem;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
}

.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 2rem;
}

.signup-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 1px #00003f50;
  width: 100%;
  max-width: 400px;
  margin: auto; /* Centraliza o contêiner */
}

.signup-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signup-form .form-group {
  margin-bottom: 15px;
  font-weight: 700;
}

.signup-form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.signup-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signup-form .btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form .btn:hover {
  background-color: darkgreen;
}

/* Responsividade */
@media (max-width: 768px) {
  .signup-container {
    max-width: 90%; /* Reduz a largura máxima do contêiner */
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .signup-container {
    padding: 10px;
  }

  .signup-form .form-control {
    padding: 8px;
  }

  .signup-form .btn {
    padding: 8px;
    font-size: 14px;
  }
}
