body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 768px) {
   .footer {
    margin-top: 100px;
    height: auto;
  }
  .app {
    margin-bottom: 0;
  }
} */
