.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #333;
}

.popup-inner {
  background-color: white;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
  padding: 2rem;
}

.close-button {
  background-color: red;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
}

.close-button:hover {
  background-color: rgb(206, 11, 11);
}

.popup-inner form {
  width: 100%;
}

.popup-inner form label {
  display: block;
  margin-bottom: 5px;
}

.popup-inner form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.popup-inner form button {
  background-color: green;
  border: none;
  margin-top: 10px;
  padding: 15px;
  color: white;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  border-radius: 5px;
}

.popup-inner form button:hover {
  background-color: darkgreen;
}

.signup-link {
  margin-top: 10px;
  font-size: 14px;
}

.signup-link a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
